:root {
  --debugBorder: 1px red solid;
  --fontFace: Verdana, Geneva, Tahoma, sans-serif;
  --leftAlign: 5vw;
  --defaultFontSize: 18px;
  --shadow: 14px 14px 11px -11px rgba(0, 0, 0, 0.4);
}

body {
  display: flex;
  margin: 0;
}

/* p{
    margin:0;
    padding:0;
} */

.left-side {
  background-image: url(/candleandbooks.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: var(--defaultFontSize);
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 32.1vw;
}

.credit-footer,
.credit-footer a {
  margin-top: auto;
  font-size: calc(var(--defaultFontSize) - 4px);
  color: white;
  text-align: center;
}

.logo-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: calc(var(--defaultFontSize) + 18px);
  font-family: "MS Mincho";
  font-weight: bolder;
  letter-spacing: 0.6rem;
  margin-top: 24vh;
  color: white;
}

#notepad {
  height: calc(var(--defaultFontSize) + 130px);
}

.right-side {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  font-family: var(--fontFace);
  font-size: var(--defaultFontSize);
}

.rightTop {
  height: 47vh;
  padding-left: var(--leftAlign);
  padding-right: 35vw;
}

#blurb {
  font-weight: bold;
  white-space: pre-line;
  position: relative;
  top: 9rem;
}

.rightMid {
  background-color: rgb(252, 252, 252);
  -webkit-box-shadow: 14px 14px 11px -11px rgba(0, 0, 0, 0.4);
  box-shadow: 14px 14px 11px -11px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  padding-left: var(--leftAlign);
  padding-top: 1.2rem;
  padding-bottom: 1.7rem;
}

form {
  display: flex;
  gap: 8rem;
}

input,
label {
  display: block;
}

label {
  color: rgb(162, 162, 162);
  font-size: 12px;
  font-weight: bold;
  font-family: var(--fontFace);
  margin-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}

input {
  border-style: solid;
  border-color: rgb(208, 208, 208);
  outline: none;
  margin-bottom: 1rem;
  border-radius: 7px;
  height: 1.3rem;
}

input::after {
  content: "*Passwords don't match.";
}

input[type="password"]:focus,
input:focus {
  -webkit-box-shadow: 9px 9px 16px -9px #000000;
  box-shadow: 9px 9px 16px -9px #000000;
}

input:invalid {
  border-color: red;
}

.rightBottom {
  flex-direction: column;
  padding-left: var(--leftAlign);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: var(--leftAlign);
}

#createAccnt {
  background-color: rgb(121, 83, 34);
  color: rgb(252, 252, 252);

  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  padding-bottom: 1em;

  margin-bottom: 2rem;

  font-family: var(--fontFace);
  font-weight: bold;
  font-size: 16px;

  border-radius: 13px;
  box-shadow: 14px 14px 11px -11px rgba(0, 0, 0, 0.4);
}

p > a {
  color: rgb(121, 83, 34);
  text-decoration: none;
}
