:root {
  --debugBorder: 1px red solid;
  --fontFace: Verdana, Geneva, Tahoma, sans-serif;
  --leftAlign: 5vw;
  --defaultFontSize: 18px;
}

body {
  display: flex;
  margin: 0;
}

/* p{
    margin:0;
    padding:0;
} */

.left-side {
  background-image: url(/candleandbooks.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: var(--defaultFontSize);
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  width: 32.1vw;
}

.credit-footer {
  margin-top: auto;
  font-size: calc(var(--defaultFontSize) - 6px);
}

.logo-card {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: calc(var(--defaultFontSize) + 12px);
}

.right-side > * {
  border: var(--debugBorder);
  /* This is for debug purposes only DELETE THIS */
}

.right-side {
  display: flex;
  flex-direction: column;
  font-family: var(--fontFace);
  font-size: var(--defaultFontSize);
}

.rightTop {
  height: 47vh;
  padding-left: var(--leftAlign);
  padding-right: 35vw;
}

#blurb {
  font-weight: bold;
  white-space: pre-line;
  position: relative;
  top: 9rem;
}

.rightMid {
  display: flex;
  flex-direction: column;
  padding-left: var(--leftAlign);
  padding-top: 1.2rem;
  padding-bottom: 1.7rem;
}

form {
  display: flex;
  gap: 8rem;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

.rightBottom {
  padding-left: var(--leftAlign);
  padding-top: var(--leftAlign);
  padding-bottom: var(--leftAlign);
}
